.container {
    width: 900px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
}
  
h1, h2 {
    text-align: center;
    color: #2d2d2d;
}
  
form {
    margin-bottom: 20px;
}
  
label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}
  
input[type="text"], select {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    border: 1px solid coral;
    border-radius: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
}
  
.container li {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
    padding: 15px;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border: 3px solid #FF7F50;
    border-radius: 10px;
    transition: transform 0.2s ease;
    margin-bottom: 20px;
    background-color: #fff;
}

.container li:hover {
    transform: scale(1.05);
}
  
.container li h3 {
    margin: 0 0 10px 0;
}
  
.container li p {
    margin: 0 0 10px 0;
    text-align: left;
}

.container li button {
    margin: 0;
}

.smallText {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    column-gap: 40px;
    row-gap: 10px;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 10px;
}

@media (max-width: 1023px) {
    .container {
        width: 600px;
    }
}

@media (max-width: 767px) {
    .container {
        width: 300px;
    }
}